

.container-1,.container-2,.container-3{
    border: 1px solid black;
    margin: 0 auto;
    width:75%;
    text-align:center;

}
.flex-box-container-1,.flex-box-container-2,.flex-box-container-3{
    
    border: 1px solid black;
    margin: 0 auto;    
    text-align:center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;


}
.flex-box-container-1 img:hover{
    box-shadow: 0px 10px 50px rgba( 0,0,0,0.7);
}
